
.grid {
    margin-top: 1em;
    overflow: hidden;
}
.grid-item {
    margin-bottom: 1em;
    display: block;
}

.grid-item-title {
    margin-top: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #333;
}
.grid-item-title:hover {
    color: #3998f5;
}
.grid-item-image {
    box-sizing: border-box;
    border: 7px solid #fff;
    box-shadow: 0 0 7px #aaa;
}
.grid-item-image:hover {
    opacity: .7;
}
.grid-item-specification {
    padding: 0.5em 0;
    font-family: 'Amble Light', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}