.feature {
    margin: 0 auto;
    width: 90%;
}

.feature-title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: .5em;
}

.feature-specification {
    font-family: 'Amble Light', arial, sans-serif;
    font-size: 1em;
}

.feature-item {
    width: 100%;
    max-width: 440px;
    margin: 1em auto 1em;
    text-align: justify;
}

.feature-item img {
    vertical-align: middle;
    margin-bottom: 0;
}

.feature:last-child {
    margin-bottom: 1.5em;
}

@media (min-width: 580px) {
    .feature-title {
        font-size: 1.7em;
    }
    .feature-specification {
        font-size: 1.3em;
    }

}

@media (min-width: 1024px) {
    .feature-title {
        font-size: 2em;
    }
    .feature-specification {
        font-size: 1.5em;
    }
}

