

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -200px;
    height: 100%;
    transform: translate(0px, 0px);
    transition: 0.30s ease;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.menu-item-link {
    display: block;
    color: #999;
    padding: 15px 30px;
    border-bottom: 1px solid #CAC9C9;
    transition: all .35s ease;
}

.menu-item-link:hover {
    color: #fff;
    background-color: #999;
}

.menu.active {
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translate(200px, 0px);
}

.menu-close-btn {
    padding: 5px;
    float: right;
    clear: both;
}




