.plans {
    margin-top: 1.5em;
}
.plan-item {
    display: inline-block;
    width: 85%;
    margin-bottom: 1.5em;
    border-radius: 5px;
    box-shadow: 0 2px 10px #aaa;
}
.plan-item_middle {
    width: 90%;
}
.plan-title {
    padding: .6em 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: #3e4f6a;
}
.plan-title_middle {
    background: #333;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.plan-price {
    background-color: #202020;
    color: #fff;
    font-size: 1em;
    line-height: 2.5em;
    margin-bottom: 1em;
}
.plan-price_middle {
    background: #000;
}
.plan-price_month {
    background: #000;
}
.plan-option {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #0365FF;
    line-height: 2em;
    border-bottom: 1px solid #E9E9E9;
}
.plan-option span {
    font-family: 'Amble Light', arial, sans-serif;
    color: #333;
}

@media (min-width: 800px) {

    .plan-item {
        display: inline-block;
        width: 26%;
        margin: 0 3.333% 20px 0;
    }

    .plans:last-child {
        margin-right: 0;
    }

    .plan-title {
        font-size: 2em;
    }

    .plan-option {
        font-size: 1.2em;
        line-height: 3;
    }

    .plan-price {
        font-size: 1.5em;
    }
}

